* {
  margin: 0;
  padding: 0;
  /* background: gray; */
}
.img {
  align-self: center;
  height: 156px;
  width: 80px;
}
.fab-icon {
  font-size: 2.5rem;
  margin: 10px;
  /* text-decoration: none; */
  color: white;
  /* background-color: black; */
}
.ancor a {
  text-decoration: none;
}
.first-section {
  background-color: black;
  height: fit-content;
}
.ancor-tag {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}
.ancor-tag a {
  color: gold;

  text-decoration: none;
}
